@import 'tailwindcss';
@import './fonts.css';

:root {
  --typography-font: 'Geoform';

  *::-webkit-scrollbar {
    width: 7px;
    height: 6px;
    transition: 100ms;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--color-slate-800);
    background-color: var(--color-slate-600);
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--color-slate-400);
    outline: none;
  }
}

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--color);
    font-size: var(--typography-size-md);
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: var(--typography-font), system-ui, sans-serif;
  }
}
