.base {
  .loading {
    animation: wiggle 2.5s infinite;
  }

  .layer {
    z-index: 3;
    position: relative;
    transform: rotate(0) skew(0) translate(0, 0);

    &:not(:first-child) {
      z-index: 2;
      position: absolute;
      inset: 0;
      opacity: 0.5;
    }
  }
  .layer {
    &:first-child {
      transform: rotate(30deg) skew(-25deg) translate(0, 0);
    }

    &:nth-child(2) {
      --translate: 12%;
      z-index: 2;

      animation: underlayer 1s;
    }

    &:nth-child(3) {
      --translate: 24%;
      z-index: 1;

      animation: underlayer 1s;
    }

    transform: rotate(30deg) skew(-25deg) translateX(var(--translate))
      translateY(var(--translate));
  }
}

@keyframes underlayer {
  from {
    transform: rotate(30deg) skew(-25deg);
  }

  to {
    transform: rotate(30deg) skew(-25deg) translateX(var(--translate))
      translateY(var(--translate));
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(15deg);
  }
  95% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
